<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB Filters</title>
    <link rel="stylesheet" href="/static/styles/3-footer.css">
    <link rel="stylesheet" href="/static/styles/3-header.css">
    <link rel="stylesheet" href="/static/styles/4-common.css">
    <link rel="stylesheet" href="/static/styles/6-filters.css">
</head>
<body>
    <header class="clearfix">
        <div class="logo">
            <img src="/static/images/logo.png" alt="Logo">
            <h1>Holberton BnB</h1>
        </div>
        <div class="title">
            <h1>Places</h1>
            <nav>
                <ul>
                    <li><a href="#">Places</a></li>
                    <li>|</li>
                    <li><a href="#">People</a></li>
                    <li>|</li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="filters-section">
        <div class="filters">
            <h2>Filters</h2>
            <div class="filters-places">
                <h3>States</h3>
                <div class="popover">
                    <input type="checkbox" name="state" id="popover-all-states" value="All">
                    <label for="popover-all-states">All</label>
                    {% for state in states %}
                        <input type="checkbox" name="state" id="popover-{{ state.id }}" value="{{ state.id }}">
                        <label for="popover-{{ state.id }}">{{ state.name }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="filters-amenities">
                <h3>Amenities</h3>
                <div class="popover">
                    {% for amenity in amenities %}
                        <input type="checkbox" name="amenity" id="popover-{{ amenity.id }}" value="{{ amenity.id }}">
                        <label for="popover-{{ amenity.id }}">{{ amenity.name }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <p>Footer</p>
        </div>
    </footer>
</body>
</html>

