<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/8-places.css') }}" type="text/css">
</head>

<body>
    <header class="header">
        <div class="title">
            <h1>HBNB</h1>
            <h2>Places to stay</h2>
        </div>
    </header>

    <div class="filters">
        <h3>States</h3>
        <div class="popover">
            {% for state in states %}
            <div class="filter checkbox">
                <label>
                    <input type="checkbox" name="state" value="{{ state.id }}"> {{ state.name }}
                </label>
            </div>
            {% endfor %}
        </div>
        <h3>Amenities</h3>
        <div class="popover">
            {% for amenity in amenities %}
            <div class="filter checkbox">
                <label>
                    <input type="checkbox" name="amenity" value="{{ amenity.id }}"> {{ amenity.name }}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="places">
        {% for place in places %}
        <div class="place">
            <div class="name">{{ place.name }}</div>
            <div class="price_by_night">${{ place.price_by_night }}</div>
        </div>
        {% endfor %}
    </div>

    <footer class="footer">
        <p>
            Holberton School | Advanced Higher Level Programming
        </p>
    </footer>
</body>

</html>

