<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
</head>
<body>
    {% block content %}
    {% if state %}
        <h1>State: {{ state.name }}</h1>
        {% if state.cities %}
            <h3>Cities:</h3>
            <ul>
                {% for city in state.cities %}
                    <li>{{ city.id }}: <b>{{ city.name }}</b></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No cities found for this state.</p>
        {% endif %}
    {% else %}
        <h1>Not found!</h1>
    {% endif %}
    {% endblock %}
</body>
</html>

